.logos {
  height: 80px;
}
.header {
  background-color: rgba(127, 127, 127, 0.292);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  /* height: 100px; */
  padding: 10px 8rem;
}
.imagen {
  position: relative;

  width: 80px;
  height: 80px;
}

.fondo {
  position: fixed;
  right: -255px;
  z-index: -10;
}

.login {
  backdrop-filter: blur(2px);
}
