<!--
<div class="fondo">
  <img src="../../assets/degradado.png" alt="" class="h-screen" />
</div> -->
<div
  class="flex flex-row header justify-content-between align-items-center"
>
  <div class="flex flex-raw align-content-center align-items-center">
    <img
      class="max-h-full p-2"
      src="../../assets/logo_fesud.png"
      alt=""
    />
    <img
      class="max-h-full"
      src="https://vicerrectorado.upea.bo/uploads/a125.png"
      alt=""
    />
  </div>
  <div>
    <p-button
      (onClick)="showLogin()"
      label="Iniciar Sesion"
      [styleClass]="'button_header'"
    ></p-button>
  </div>
</div>
<p-dialog
  [(visible)]="modalLogin"
  [modal]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
>
  <ng-template pTemplate="headless">
    <app-login class="login"></app-login>
  </ng-template>
</p-dialog>
